src/condor_collector.V6/condorCollector.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* condorCollector
   Generated by gSOAP 2.3 rev 7 from gsoap_collector.h
   Copyright (C) 2001-2003 Genivia inc.
   All Rights Reserved.
*/-->
 <schema targetNamespace="urn:condor-collector"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns:condorCollector="urn:condor-collector"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <complexType name="ArrayOfClassAdStructAttr">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="ArrayOfArrayOfClassAdStructAttr">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condorCollector:ArrayOfClassAdStructAttr" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
    </restriction>
   </complexContent>
  </complexType>

 </schema>
