src/condor_daemon_core.V6/condorCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* condorCore
   Generated by gSOAP 2.3 rev 7 from gsoap_daemon_core.h
   Copyright (C) 2001-2003 Genivia inc.
   All Rights Reserved.
*/-->
 <schema targetNamespace="urn:condor-daemoncore"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <complexType name="ClassAdStructAttr">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="type" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
    <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="ArrayOfClassAdStructAttr">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="ArrayOfArrayOfClassAdStructAttr">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condorCore:ArrayOfClassAdStructAttr" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
    </restriction>
   </complexContent>
  </complexType>

 </schema>
