src/condor_daemon_core.V6/condorCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* condorCore
   Generated by gSOAP 2.5.2 from gsoap_daemon_core.h
   Copyright (C) 2001-2004 Genivia, Inc. All Rights Reserved.
   This software is released under the gSOAP public license and GPL.
   See README.txt for further details.
*/-->
 <schema targetNamespace="urn:condor-daemoncore"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="ClassAdAttrType">
   <restriction base="xsd:string">
    <enumeration value="INTEGER"/>
    <enumeration value="FLOAT"/>
    <enumeration value="STRING"/>
    <enumeration value="EXPRESSION"/>
    <enumeration value="BOOLEAN"/>
    <enumeration value="UNDEFINED"/>
    <enumeration value="ERROR"/>
   </restriction>
  </simpleType>
  <complexType name="Status">
   <sequence>
    <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="next" type="condorCore:Status" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAttr">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="type" type="condorCore:ClassAdAttrType" minOccurs="1" maxOccurs="1"/>
    <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="classAd" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArrayAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="classAdArray" type="condorCore:ClassAdStructArray" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="StringAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

