src/condor_schedd.V6/condorSchedd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="condorSchedd"
 targetNamespace="urn:condor"
 xmlns:tns="urn:condor"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:condor="urn:condor"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:condor"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condor="urn:condor"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="Requirement">
   <restriction base="xsd:string">
   </restriction>
  </simpleType>
  <simpleType name="StatusCode">
   <restriction base="xsd:string">
    <enumeration value="SUCCESS"/>
    <enumeration value="FAIL"/>
    <enumeration value="INVALIDTRANSACTION"/>
    <enumeration value="UNKNOWNCLUSTER"/>
    <enumeration value="UNKNOWNJOB"/>
    <enumeration value="UNKNOWNFILE"/>
    <enumeration value="INCOMPLETE"/>
    <enumeration value="INVALIDOFFSET"/>
    <enumeration value="ALREADYEXISTS"/>
   </restriction>
  </simpleType>
  <simpleType name="ClassAdAttrType">
   <restriction base="xsd:string">
    <enumeration value="INTEGER-ATTR"/>
    <enumeration value="FLOAT-ATTR"/>
    <enumeration value="STRING-ATTR"/>
    <enumeration value="EXPRESSION-ATTR"/>
    <enumeration value="BOOLEAN-ATTR"/>
    <enumeration value="UNDEFINED-ATTR"/>
    <enumeration value="ERROR-ATTR"/>
   </restriction>
  </simpleType>
  <simpleType name="HashType">
   <restriction base="xsd:string">
    <enumeration value="NOHASH"/>
    <enumeration value="MD5"/>
   </restriction>
  </simpleType>
  <simpleType name="UniverseType">
   <restriction base="xsd:string">
    <enumeration value="STANDARD"/>
    <enumeration value="PVM"/>
    <enumeration value="VANILLA"/>
    <enumeration value="SCHEDULER"/>
    <enumeration value="MPI"/>
    <enumeration value="GLOBUS"/>
    <enumeration value="JAVA"/>
   </restriction>
  </simpleType>
  <complexType name="Status">
   <sequence>
    <element name="code" type="condor:StatusCode" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="next" type="condor:Status" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAttr">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="type" type="condor:ClassAdAttrType" minOccurs="1" maxOccurs="1"/>
    <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfClassAdStructAttr">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condor:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="condor:ClassAdStructAttr[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ArrayOfArrayOfClassAdStructAttr">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condor:ArrayOfClassAdStructAttr" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="condor:ArrayOfClassAdStructAttr[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ClassAdStructAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="classAd" type="condor:ArrayOfClassAdStructAttr" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArrayAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="classAdArray" type="condor:ArrayOfArrayOfClassAdStructAttr" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="StringAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="StringAndStatusResponse">
   <sequence>
    <element name="response" type="condor:StringAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Transaction">
   <sequence>
    <element name="id" type="xsd:int" minOccurs="0" maxOccurs="1"/>
    <element name="duration" type="xsd:int" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfRequirement">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condor:Requirement" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="condor:Requirement[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="RequirementsAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="requirements" type="condor:ArrayOfRequirement" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="transaction" type="condor:Transaction" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="IntAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="integer" type="xsd:int" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Base64DataAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="data" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="FileInfo">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfFileInfo">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="condor:FileInfo" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="condor:FileInfo[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="FileInfoArrayAndStatus">
   <sequence>
    <element name="status" type="condor:Status" minOccurs="1" maxOccurs="1"/>
    <element name="info" type="condor:ArrayOfFileInfo" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="beginTransactionRequest">
 <part name="duration" type="xsd:int"/>
</message>

<message name="TransactionAndStatusResponse">
 <part name="response" type="condor:TransactionAndStatus"/>
</message>

<message name="commitTransactionRequest">
 <part name="transaction" type="condor:Transaction"/>
</message>

<message name="StatusResponse">
 <part name="response" type="condor:Status"/>
</message>

<message name="abortTransactionRequest">
 <part name="transaction" type="condor:Transaction"/>
</message>

<message name="extendTransactionRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="duration" type="xsd:int"/>
</message>

<message name="newClusterRequest">
 <part name="transaction" type="condor:Transaction"/>
</message>

<message name="IntAndStatusResponse">
 <part name="response" type="condor:IntAndStatus"/>
</message>

<message name="removeClusterRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
</message>

<message name="newJobRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
</message>

<message name="removeJobRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="force-removal" type="xsd:boolean"/>
</message>

<message name="holdJobRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="email-user" type="xsd:boolean"/>
 <part name="email-admin" type="xsd:boolean"/>
 <part name="system-hold" type="xsd:boolean"/>
</message>

<message name="releaseJobRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="email-user" type="xsd:boolean"/>
 <part name="email-admin" type="xsd:boolean"/>
</message>

<message name="submitRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="jobAd" type="condor:ArrayOfClassAdStructAttr"/>
</message>

<message name="RequirementsAndStatusResponse">
 <part name="response" type="condor:RequirementsAndStatus"/>
</message>

<message name="getJobAdsRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="constraint" type="xsd:string"/>
</message>

<message name="ClassAdStructArrayAndStatusResponse">
 <part name="response" type="condor:ClassAdStructArrayAndStatus"/>
</message>

<message name="getJobAdRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
</message>

<message name="ClassAdStructAndStatusResponse">
 <part name="response" type="condor:ClassAdStructAndStatus"/>
</message>

<message name="declareFileRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="name" type="xsd:string"/>
 <part name="size" type="xsd:int"/>
 <part name="hashType" type="condor:HashType"/>
 <part name="hash" type="xsd:string"/>
</message>

<message name="sendFileRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="name" type="xsd:string"/>
 <part name="offset" type="xsd:int"/>
 <part name="data" type="xsd:base64Binary"/>
</message>

<message name="getFileRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="name" type="xsd:string"/>
 <part name="offset" type="xsd:int"/>
 <part name="length" type="xsd:int"/>
</message>

<message name="Base64DataAndStatusResponse">
 <part name="response" type="condor:Base64DataAndStatus"/>
</message>

<message name="closeSpoolRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
</message>

<message name="listSpoolRequest">
 <part name="transaction" type="condor:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
</message>

<message name="FileInfoArrayAndStatusResponse">
 <part name="response" type="condor:FileInfoArrayAndStatus"/>
</message>

<message name="discoverJobRequirementsRequest">
 <part name="jobAd" type="condor:ArrayOfClassAdStructAttr"/>
</message>

<message name="createJobTemplateRequest">
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="owner" type="xsd:string"/>
 <part name="type" type="condor:UniverseType"/>
 <part name="cmd" type="xsd:string"/>
 <part name="args" type="xsd:string"/>
 <part name="requirements" type="xsd:string"/>
</message>

<portType name="condorScheddPortType">
 <operation name="beginTransaction">
  <documentation>Service definition of function condor__beginTransaction</documentation>
  <input message="tns:beginTransactionRequest"/>
  <output message="tns:TransactionAndStatusResponse"/>
 </operation>
 <operation name="commitTransaction">
  <documentation>Service definition of function condor__commitTransaction</documentation>
  <input message="tns:commitTransactionRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="abortTransaction">
  <documentation>Service definition of function condor__abortTransaction</documentation>
  <input message="tns:abortTransactionRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="extendTransaction">
  <documentation>Service definition of function condor__extendTransaction</documentation>
  <input message="tns:extendTransactionRequest"/>
  <output message="tns:TransactionAndStatusResponse"/>
 </operation>
 <operation name="newCluster">
  <documentation>Service definition of function condor__newCluster</documentation>
  <input message="tns:newClusterRequest"/>
  <output message="tns:IntAndStatusResponse"/>
 </operation>
 <operation name="removeCluster">
  <documentation>Service definition of function condor__removeCluster</documentation>
  <input message="tns:removeClusterRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="newJob">
  <documentation>Service definition of function condor__newJob</documentation>
  <input message="tns:newJobRequest"/>
  <output message="tns:IntAndStatusResponse"/>
 </operation>
 <operation name="removeJob">
  <documentation>Service definition of function condor__removeJob</documentation>
  <input message="tns:removeJobRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="holdJob">
  <documentation>Service definition of function condor__holdJob</documentation>
  <input message="tns:holdJobRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="releaseJob">
  <documentation>Service definition of function condor__releaseJob</documentation>
  <input message="tns:releaseJobRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="submit">
  <documentation>Service definition of function condor__submit</documentation>
  <input message="tns:submitRequest"/>
  <output message="tns:RequirementsAndStatusResponse"/>
 </operation>
 <operation name="getJobAds">
  <documentation>Service definition of function condor__getJobAds</documentation>
  <input message="tns:getJobAdsRequest"/>
  <output message="tns:ClassAdStructArrayAndStatusResponse"/>
 </operation>
 <operation name="getJobAd">
  <documentation>Service definition of function condor__getJobAd</documentation>
  <input message="tns:getJobAdRequest"/>
  <output message="tns:ClassAdStructAndStatusResponse"/>
 </operation>
 <operation name="declareFile">
  <documentation>Service definition of function condor__declareFile</documentation>
  <input message="tns:declareFileRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="sendFile">
  <documentation>Service definition of function condor__sendFile</documentation>
  <input message="tns:sendFileRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="getFile">
  <documentation>Service definition of function condor__getFile</documentation>
  <input message="tns:getFileRequest"/>
  <output message="tns:Base64DataAndStatusResponse"/>
 </operation>
 <operation name="closeSpool">
  <documentation>Service definition of function condor__closeSpool</documentation>
  <input message="tns:closeSpoolRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="listSpool">
  <documentation>Service definition of function condor__listSpool</documentation>
  <input message="tns:listSpoolRequest"/>
  <output message="tns:FileInfoArrayAndStatusResponse"/>
 </operation>
 <operation name="discoverJobRequirements">
  <documentation>Service definition of function condor__discoverJobRequirements</documentation>
  <input message="tns:discoverJobRequirementsRequest"/>
  <output message="tns:RequirementsAndStatusResponse"/>
 </operation>
 <operation name="createJobTemplate">
  <documentation>Service definition of function condor__createJobTemplate</documentation>
  <input message="tns:createJobTemplateRequest"/>
  <output message="tns:ClassAdStructAndStatusResponse"/>
 </operation>
</portType>

<binding name="condorSchedd" type="tns:condorScheddPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="beginTransaction">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="commitTransaction">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="abortTransaction">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="extendTransaction">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="newCluster">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeCluster">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="newJob">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeJob">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="holdJob">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="releaseJob">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="submit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getJobAds">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getJobAd">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="declareFile">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sendFile">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getFile">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="closeSpool">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="listSpool">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="discoverJobRequirements">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createJobTemplate">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="condorSchedd">
 <documentation>gSOAP 2.6.1 generated service definition</documentation>
 <port name="condorSchedd" binding="tns:condorSchedd">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
