src/condor_schedd.V6/condorSchedd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="condorSchedd"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="urn:condor-schedd"
 xmlns:tns="urn:condor-schedd"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:condorCore="urn:condor-daemoncore"
 xmlns:condorSchedd="urn:condor-schedd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:condor-daemoncore"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns:condorSchedd="urn:condor-schedd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="ClassAdAttrType">
   <restriction base="xsd:string">
    <enumeration value="INTEGER"/>
    <enumeration value="FLOAT"/>
    <enumeration value="STRING"/>
    <enumeration value="EXPRESSION"/>
    <enumeration value="BOOL"/>
    <enumeration value="UNDEFINED"/>
    <enumeration value="ERROR"/>
   </restriction>
  </simpleType>
  <complexType name="Status">
   <sequence>
    <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="next" type="condorCore:Status" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAttr">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="type" type="condorCore:ClassAdAttrType" minOccurs="1" maxOccurs="1"/>
    <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="classAd" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArrayAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="classAdArray" type="condorCore:ClassAdStructArray" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="StringAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Requirements">
   <sequence>
    <element name="item" type="condorSchedd:Requirement" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

 <schema targetNamespace="urn:condor-schedd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns:condorSchedd="urn:condor-schedd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="Requirement">
   <restriction base="xsd:string">
   </restriction>
  </simpleType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Transaction">
   <sequence>
    <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="duration" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Requirements">
   <sequence>
    <element name="item" type="condorSchedd:Requirement" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="RequirementsAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="requirements" type="condorSchedd:Requirements" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="transaction" type="condorSchedd:Transaction" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="IntAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="integer" type="xsd:int" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="beginTransactionRequest">
 <part name="duration" type="xsd:int"/>
</message>

<message name="TransactionAndStatus">
 <part name="status" type="condorCore:Status"/>
 <part name="transaction" type="condorSchedd:Transaction"/>
</message>

<message name="commitTransactionRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
</message>

<message name="Status">
 <part name="code" type="xsd:int"/>
 <part name="message" type="xsd:string"/>
 <part name="next" type="condorCore:Status"/>
</message>

<message name="abortTransactionRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
</message>

<message name="extendTransactionRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="duration" type="xsd:int"/>
</message>

<message name="newClusterRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
</message>

<message name="IntAndStatus">
 <part name="status" type="condorCore:Status"/>
 <part name="integer" type="xsd:int"/>
</message>

<message name="removeClusterRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
</message>

<message name="newJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
</message>

<message name="removeJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="force-removal" type="xsd:boolean"/>
</message>

<message name="holdJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="email-user" type="xsd:boolean"/>
 <part name="email-admin" type="xsd:boolean"/>
 <part name="system-hold" type="xsd:boolean"/>
</message>

<message name="releaseJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="email-user" type="xsd:boolean"/>
 <part name="email-admin" type="xsd:boolean"/>
</message>

<message name="submitRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="jobAd" type="condorCore:ClassAdStruct"/>
</message>

<message name="RequirementsAndStatus">
 <part name="status" type="condorCore:Status"/>
 <part name="requirements" type="condorSchedd:Requirements"/>
</message>

<message name="getJobAdsRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="constraint" type="xsd:string"/>
</message>

<message name="ClassAdStructArrayAndStatus">
 <part name="status" type="condorCore:Status"/>
 <part name="classAdArray" type="condorCore:ClassAdStructArray"/>
</message>

<message name="getJobAdRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
</message>

<message name="ClassAdStructAndStatus">
 <part name="status" type="condorCore:Status"/>
 <part name="classAd" type="condorCore:ClassAdStruct"/>
</message>

<message name="sendFileRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="name" type="xsd:string"/>
 <part name="offset" type="xsd:int"/>
 <part name="data" type="xsd:base64Binary"/>
</message>

<message name="discoverJobRequirementsRequest">
 <part name="jobAd" type="condorCore:ClassAdStruct"/>
</message>

<message name="discoverDagRequirementsRequest">
 <part name="dag" type="xsd:string"/>
</message>

<portType name="condorScheddPortType">
 <operation name="beginTransaction">
  <documentation>Service definition of function condorSchedd__beginTransaction</documentation>
  <input message="tns:beginTransactionRequest"/>
  <output message="tns:TransactionAndStatus"/>
 </operation>
 <operation name="commitTransaction">
  <documentation>Service definition of function condorSchedd__commitTransaction</documentation>
  <input message="tns:commitTransactionRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="abortTransaction">
  <documentation>Service definition of function condorSchedd__abortTransaction</documentation>
  <input message="tns:abortTransactionRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="extendTransaction">
  <documentation>Service definition of function condorSchedd__extendTransaction</documentation>
  <input message="tns:extendTransactionRequest"/>
  <output message="tns:TransactionAndStatus"/>
 </operation>
 <operation name="newCluster">
  <documentation>Service definition of function condorSchedd__newCluster</documentation>
  <input message="tns:newClusterRequest"/>
  <output message="tns:IntAndStatus"/>
 </operation>
 <operation name="removeCluster">
  <documentation>Service definition of function condorSchedd__removeCluster</documentation>
  <input message="tns:removeClusterRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="newJob">
  <documentation>Service definition of function condorSchedd__newJob</documentation>
  <input message="tns:newJobRequest"/>
  <output message="tns:IntAndStatus"/>
 </operation>
 <operation name="removeJob">
  <documentation>Service definition of function condorSchedd__removeJob</documentation>
  <input message="tns:removeJobRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="holdJob">
  <documentation>Service definition of function condorSchedd__holdJob</documentation>
  <input message="tns:holdJobRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="releaseJob">
  <documentation>Service definition of function condorSchedd__releaseJob</documentation>
  <input message="tns:releaseJobRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="submit">
  <documentation>Service definition of function condorSchedd__submit</documentation>
  <input message="tns:submitRequest"/>
  <output message="tns:RequirementsAndStatus"/>
 </operation>
 <operation name="getJobAds">
  <documentation>Service definition of function condorSchedd__getJobAds</documentation>
  <input message="tns:getJobAdsRequest"/>
  <output message="tns:ClassAdStructArrayAndStatus"/>
 </operation>
 <operation name="getJobAd">
  <documentation>Service definition of function condorSchedd__getJobAd</documentation>
  <input message="tns:getJobAdRequest"/>
  <output message="tns:ClassAdStructAndStatus"/>
 </operation>
 <operation name="sendFile">
  <documentation>Service definition of function condorSchedd__sendFile</documentation>
  <input message="tns:sendFileRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="discoverJobRequirements">
  <documentation>Service definition of function condorSchedd__discoverJobRequirements</documentation>
  <input message="tns:discoverJobRequirementsRequest"/>
  <output message="tns:RequirementsAndStatus"/>
 </operation>
 <operation name="discoverDagRequirements">
  <documentation>Service definition of function condorSchedd__discoverDagRequirements</documentation>
  <input message="tns:discoverDagRequirementsRequest"/>
  <output message="tns:RequirementsAndStatus"/>
 </operation>
</portType>

<binding name="condorSchedd" type="tns:condorScheddPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="beginTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="commitTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="abortTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="extendTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="newCluster">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="removeCluster">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="newJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="removeJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="holdJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="releaseJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="submit">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="getJobAds">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="getJobAd">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="sendFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="discoverJobRequirements">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
 <operation name="discoverDagRequirements">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="encoding-style"/>
  </output>
 </operation>
</binding>

<service name="condorSchedd">
 <documentation>gSOAP 2.5.2 generated service definition</documentation>
 <port name="condorSchedd" binding="tns:condorSchedd">
  <SOAP:address location="http://localhost"/>
 </port>
</service>

</definitions>
