src/condor_schedd.V6/condorSchedd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="condorSchedd"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="urn:condor-schedd"
 xmlns:tns="urn:condor-schedd"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:condorCore="urn:condor-daemoncore"
 xmlns:condorSchedd="urn:condor-schedd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:condor-daemoncore"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns:condorSchedd="urn:condor-schedd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="StatusCode">
   <restriction base="xsd:string">
    <enumeration value="SUCCESS"/>
    <enumeration value="FAIL"/>
    <enumeration value="INVALIDTRANSACTION"/>
    <enumeration value="UNKNOWNJOB"/>
    <enumeration value="UNKNOWNFILE"/>
    <enumeration value="INCOMPLETE"/>
    <enumeration value="INVALIDOFFSET"/>
   </restriction>
  </simpleType>
  <simpleType name="ClassAdAttrType">
   <restriction base="xsd:string">
    <enumeration value="INTEGER"/>
    <enumeration value="FLOAT"/>
    <enumeration value="STRING"/>
    <enumeration value="EXPRESSION"/>
    <enumeration value="BOOL"/>
    <enumeration value="UNDEFINED"/>
    <enumeration value="ERROR"/>
   </restriction>
  </simpleType>
  <complexType name="Status">
   <sequence>
    <element name="code" type="condorCore:StatusCode" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="next" type="condorCore:Status" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAttr">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="type" type="condorCore:ClassAdAttrType" minOccurs="1" maxOccurs="1"/>
    <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="classAd" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArrayAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="classAdArray" type="condorCore:ClassAdStructArray" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="StringAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Requirements">
   <sequence>
    <element name="item" type="condorSchedd:Requirement" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="FileInfoArray">
   <sequence>
    <element name="item" type="condorSchedd:FileInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

 <schema targetNamespace="urn:condor-schedd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns:condorSchedd="urn:condor-schedd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="Requirement">
   <restriction base="xsd:string">
   </restriction>
  </simpleType>
  <simpleType name="HashType">
   <restriction base="xsd:string">
    <enumeration value="NOHASH"/>
    <enumeration value="MD5"/>
   </restriction>
  </simpleType>
  <simpleType name="UniverseType">
   <restriction base="xsd:string">
    <enumeration value="STANDARD"/>
    <enumeration value="PVM"/>
    <enumeration value="VANILLA"/>
    <enumeration value="SCHEDULER"/>
    <enumeration value="MPI"/>
    <enumeration value="GLOBUS"/>
    <enumeration value="JAVA"/>
   </restriction>
  </simpleType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Transaction">
   <sequence>
    <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="duration" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Requirements">
   <sequence>
    <element name="item" type="condorSchedd:Requirement" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="RequirementsAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="requirements" type="condorSchedd:Requirements" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="transaction" type="condorSchedd:Transaction" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="IntAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="integer" type="xsd:int" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Base64DataAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="data" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="FileInfo">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="FileInfoArray">
   <sequence>
    <element name="item" type="condorSchedd:FileInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="FileInfoArrayAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
    <element name="info" type="condorSchedd:FileInfoArray" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="StatusResponse">
   <sequence>
    <element name="response" type="condorCore:Status" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="TransactionAndStatusResponse">
   <sequence>
    <element name="response" type="condorSchedd:TransactionAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="IntAndStatusResponse">
   <sequence>
    <element name="response" type="condorSchedd:IntAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="RequirementsAndStatusResponse">
   <sequence>
    <element name="response" type="condorSchedd:RequirementsAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArrayAndStatusResponse">
   <sequence>
    <element name="response" type="condorCore:ClassAdStructArrayAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAndStatusResponse">
   <sequence>
    <element name="response" type="condorCore:ClassAdStructAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Base64DataAndStatusResponse">
   <sequence>
    <element name="response" type="condorSchedd:Base64DataAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="FileInfoArrayAndStatusResponse">
   <sequence>
    <element name="response" type="condorSchedd:FileInfoArrayAndStatus" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="beginTransactionRequest">
 <part name="duration" type="xsd:int"/>
</message>

<message name="TransactionAndStatusResponse">
 <part name="response" type="condorSchedd:TransactionAndStatus"/>
</message>

<message name="commitTransactionRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
</message>

<message name="StatusResponse">
 <part name="response" type="condorCore:Status"/>
</message>

<message name="abortTransactionRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
</message>

<message name="extendTransactionRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="duration" type="xsd:int"/>
</message>

<message name="newClusterRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
</message>

<message name="IntAndStatusResponse">
 <part name="response" type="condorSchedd:IntAndStatus"/>
</message>

<message name="removeClusterRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
</message>

<message name="newJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
</message>

<message name="removeJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="force-removal" type="xsd:boolean"/>
</message>

<message name="holdJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="email-user" type="xsd:boolean"/>
 <part name="email-admin" type="xsd:boolean"/>
 <part name="system-hold" type="xsd:boolean"/>
</message>

<message name="releaseJobRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="reason" type="xsd:string"/>
 <part name="email-user" type="xsd:boolean"/>
 <part name="email-admin" type="xsd:boolean"/>
</message>

<message name="submitRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="jobAd" type="condorCore:ClassAdStruct"/>
</message>

<message name="RequirementsAndStatusResponse">
 <part name="response" type="condorSchedd:RequirementsAndStatus"/>
</message>

<message name="getJobAdsRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="constraint" type="xsd:string"/>
</message>

<message name="ClassAdStructArrayAndStatusResponse">
 <part name="response" type="condorCore:ClassAdStructArrayAndStatus"/>
</message>

<message name="getJobAdRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
</message>

<message name="ClassAdStructAndStatusResponse">
 <part name="response" type="condorCore:ClassAdStructAndStatus"/>
</message>

<message name="declareFileRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="name" type="xsd:string"/>
 <part name="size" type="xsd:int"/>
 <part name="hashType" type="condorSchedd:HashType"/>
 <part name="hash" type="xsd:string"/>
</message>

<message name="sendFileRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="name" type="xsd:string"/>
 <part name="offset" type="xsd:int"/>
 <part name="data" type="xsd:base64Binary"/>
</message>

<message name="getFileRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="name" type="xsd:string"/>
 <part name="offset" type="xsd:int"/>
 <part name="length" type="xsd:int"/>
</message>

<message name="Base64DataAndStatusResponse">
 <part name="response" type="condorSchedd:Base64DataAndStatus"/>
</message>

<message name="closeSpoolRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
</message>

<message name="listSpoolRequest">
 <part name="transaction" type="condorSchedd:Transaction"/>
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
</message>

<message name="FileInfoArrayAndStatusResponse">
 <part name="response" type="condorSchedd:FileInfoArrayAndStatus"/>
</message>

<message name="discoverJobRequirementsRequest">
 <part name="jobAd" type="condorCore:ClassAdStruct"/>
</message>

<message name="createJobTemplateRequest">
 <part name="clusterId" type="xsd:int"/>
 <part name="jobId" type="xsd:int"/>
 <part name="owner" type="xsd:string"/>
 <part name="type" type="condorSchedd:UniverseType"/>
 <part name="cmd" type="xsd:string"/>
 <part name="args" type="xsd:string"/>
</message>

<portType name="condorScheddPortType">
 <operation name="beginTransaction">
  <documentation>Service definition of function condorSchedd__beginTransaction</documentation>
  <input message="tns:beginTransactionRequest"/>
  <output message="tns:TransactionAndStatusResponse"/>
 </operation>
 <operation name="commitTransaction">
  <documentation>Service definition of function condorSchedd__commitTransaction</documentation>
  <input message="tns:commitTransactionRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="abortTransaction">
  <documentation>Service definition of function condorSchedd__abortTransaction</documentation>
  <input message="tns:abortTransactionRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="extendTransaction">
  <documentation>Service definition of function condorSchedd__extendTransaction</documentation>
  <input message="tns:extendTransactionRequest"/>
  <output message="tns:TransactionAndStatusResponse"/>
 </operation>
 <operation name="newCluster">
  <documentation>Service definition of function condorSchedd__newCluster</documentation>
  <input message="tns:newClusterRequest"/>
  <output message="tns:IntAndStatusResponse"/>
 </operation>
 <operation name="removeCluster">
  <documentation>Service definition of function condorSchedd__removeCluster</documentation>
  <input message="tns:removeClusterRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="newJob">
  <documentation>Service definition of function condorSchedd__newJob</documentation>
  <input message="tns:newJobRequest"/>
  <output message="tns:IntAndStatusResponse"/>
 </operation>
 <operation name="removeJob">
  <documentation>Service definition of function condorSchedd__removeJob</documentation>
  <input message="tns:removeJobRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="holdJob">
  <documentation>Service definition of function condorSchedd__holdJob</documentation>
  <input message="tns:holdJobRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="releaseJob">
  <documentation>Service definition of function condorSchedd__releaseJob</documentation>
  <input message="tns:releaseJobRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="submit">
  <documentation>Service definition of function condorSchedd__submit</documentation>
  <input message="tns:submitRequest"/>
  <output message="tns:RequirementsAndStatusResponse"/>
 </operation>
 <operation name="getJobAds">
  <documentation>Service definition of function condorSchedd__getJobAds</documentation>
  <input message="tns:getJobAdsRequest"/>
  <output message="tns:ClassAdStructArrayAndStatusResponse"/>
 </operation>
 <operation name="getJobAd">
  <documentation>Service definition of function condorSchedd__getJobAd</documentation>
  <input message="tns:getJobAdRequest"/>
  <output message="tns:ClassAdStructAndStatusResponse"/>
 </operation>
 <operation name="declareFile">
  <documentation>Service definition of function condorSchedd__declareFile</documentation>
  <input message="tns:declareFileRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="sendFile">
  <documentation>Service definition of function condorSchedd__sendFile</documentation>
  <input message="tns:sendFileRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="getFile">
  <documentation>Service definition of function condorSchedd__getFile</documentation>
  <input message="tns:getFileRequest"/>
  <output message="tns:Base64DataAndStatusResponse"/>
 </operation>
 <operation name="closeSpool">
  <documentation>Service definition of function condorSchedd__closeSpool</documentation>
  <input message="tns:closeSpoolRequest"/>
  <output message="tns:StatusResponse"/>
 </operation>
 <operation name="listSpool">
  <documentation>Service definition of function condorSchedd__listSpool</documentation>
  <input message="tns:listSpoolRequest"/>
  <output message="tns:FileInfoArrayAndStatusResponse"/>
 </operation>
 <operation name="discoverJobRequirements">
  <documentation>Service definition of function condorSchedd__discoverJobRequirements</documentation>
  <input message="tns:discoverJobRequirementsRequest"/>
  <output message="tns:RequirementsAndStatusResponse"/>
 </operation>
 <operation name="createJobTemplate">
  <documentation>Service definition of function condorSchedd__createJobTemplate</documentation>
  <input message="tns:createJobTemplateRequest"/>
  <output message="tns:ClassAdStructAndStatusResponse"/>
 </operation>
</portType>

<binding name="condorSchedd" type="tns:condorScheddPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="beginTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="commitTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="abortTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="extendTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="newCluster">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeCluster">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="newJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="removeJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="holdJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="releaseJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="submit">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getJobAds">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getJobAd">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="declareFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sendFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="closeSpool">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="listSpool">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="discoverJobRequirements">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createJobTemplate">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="urn:condor-schedd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="condorSchedd">
 <documentation>gSOAP 2.5.2 generated service definition</documentation>
 <port name="condorSchedd" binding="tns:condorSchedd">
  <SOAP:address location="http://localhost"/>
 </port>
</service>

</definitions>
