src/condor_schedd.V6/condorSchedd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="condorSchedd"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="urn:condor-schedd"
 xmlns:tns="urn:condor-schedd"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:condorCore="urn:condor-daemoncore"
 xmlns:condorSchedd="urn:condor-schedd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:condor-daemoncore"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns:condorSchedd="urn:condor-schedd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="Requirement">
   <restriction base="xsd:string">
   </restriction>
  </simpleType>
  <simpleType name="Transaction">
   <restriction base="xsd:int">
   </restriction>
  </simpleType>
  <complexType name="Status">
   <sequence>
    <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    <element name="next" type="condorCore:Status" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Requirements">
   <sequence>
    <element name="item" type="condorCore:Requirement" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAttr">
   <sequence>
    <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="type" type="xsd:byte" minOccurs="1" maxOccurs="1"/>
    <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="RequirementsAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="requirements" type="condorCore:Requirements" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="classAd" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArrayAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="classAdArray" type="condorCore:ClassAdStructArray" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="transactionId" type="condorCore:Transaction" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="IntAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="id" type="xsd:int" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="StringAndStatus">
   <sequence>
    <element name="status" type="condorCore:Status" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

 <schema targetNamespace="urn:condor-schedd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:condorCore="urn:condor-daemoncore"
  xmlns:condorSchedd="urn:condor-schedd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Requirements">
   <sequence>
    <element name="item" type="condorCore:Requirement" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStruct">
   <sequence>
    <element name="item" type="condorCore:ClassAdStructAttr" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="ClassAdStructArray">
   <sequence>
    <element name="item" type="condorCore:ClassAdStruct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <element name="duration" type="xsd:int"/>
  <element name="status" type="condorCore:Status"/>
  <element name="transactionId" type="condorCore:Transaction"/>
  <element name="code" type="xsd:int"/>
  <element name="message" type="xsd:string"/>
  <element name="next" type="condorCore:Status"/>
  <element name="id" type="xsd:int"/>
  <element name="clusterId" type="xsd:int"/>
  <element name="reason" type="xsd:string"/>
  <element name="jobId" type="xsd:int"/>
  <element name="force-removal" type="xsd:boolean"/>
  <element name="email-user" type="xsd:boolean"/>
  <element name="email-admin" type="xsd:boolean"/>
  <element name="system-hold" type="xsd:boolean"/>
  <element name="jobAd" type="condorCore:ClassAdStruct"/>
  <element name="requirements" type="condorCore:Requirements"/>
  <element name="constraint" type="xsd:string"/>
  <element name="classAdArray" type="condorCore:ClassAdStructArray"/>
  <element name="classAd" type="condorCore:ClassAdStruct"/>
  <element name="name" type="xsd:string"/>
  <element name="offset" type="xsd:int"/>
  <element name="data" type="xsd:base64Binary"/>
 </schema>

</types>

<message name="beginTransactionRequest">
 <part name="duration" element="condorSchedd:duration"/>
</message>

<message name="TransactionAndStatus">
 <part name="status" element="condorSchedd:status"/>
 <part name="transactionId" element="condorSchedd:transactionId"/>
</message>

<message name="commitTransactionRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
</message>

<message name="Status">
 <part name="code" element="condorSchedd:code"/>
 <part name="message" element="condorSchedd:message"/>
 <part name="next" element="condorSchedd:next"/>
</message>

<message name="abortTransactionRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
</message>

<message name="extendTransactionRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="duration" element="condorSchedd:duration"/>
</message>

<message name="newClusterRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
</message>

<message name="IntAndStatus">
 <part name="status" element="condorSchedd:status"/>
 <part name="id" element="condorSchedd:id"/>
</message>

<message name="removeClusterRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="clusterId" element="condorSchedd:clusterId"/>
 <part name="reason" element="condorSchedd:reason"/>
</message>

<message name="newJobRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="clusterId" element="condorSchedd:clusterId"/>
</message>

<message name="removeJobRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="clusterId" element="condorSchedd:clusterId"/>
 <part name="jobId" element="condorSchedd:jobId"/>
 <part name="reason" element="condorSchedd:reason"/>
 <part name="force-removal" element="condorSchedd:force-removal"/>
</message>

<message name="holdJobRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="clusterId" element="condorSchedd:clusterId"/>
 <part name="jobId" element="condorSchedd:jobId"/>
 <part name="reason" element="condorSchedd:reason"/>
 <part name="email-user" element="condorSchedd:email-user"/>
 <part name="email-admin" element="condorSchedd:email-admin"/>
 <part name="system-hold" element="condorSchedd:system-hold"/>
</message>

<message name="releaseJobRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="clusterId" element="condorSchedd:clusterId"/>
 <part name="jobId" element="condorSchedd:jobId"/>
 <part name="reason" element="condorSchedd:reason"/>
 <part name="email-user" element="condorSchedd:email-user"/>
 <part name="email-admin" element="condorSchedd:email-admin"/>
</message>

<message name="submitRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="clusterId" element="condorSchedd:clusterId"/>
 <part name="jobId" element="condorSchedd:jobId"/>
 <part name="jobAd" element="condorSchedd:jobAd"/>
</message>

<message name="RequirementsAndStatus">
 <part name="status" element="condorSchedd:status"/>
 <part name="requirements" element="condorSchedd:requirements"/>
</message>

<message name="getJobAdsRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="constraint" element="condorSchedd:constraint"/>
</message>

<message name="ClassAdStructArrayAndStatus">
 <part name="status" element="condorSchedd:status"/>
 <part name="classAdArray" element="condorSchedd:classAdArray"/>
</message>

<message name="getJobAdRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="clusterId" element="condorSchedd:clusterId"/>
 <part name="jobId" element="condorSchedd:jobId"/>
</message>

<message name="sendFileRequest">
 <part name="transactionId" element="condorSchedd:transactionId"/>
 <part name="name" element="condorSchedd:name"/>
 <part name="offset" element="condorSchedd:offset"/>
 <part name="data" element="condorSchedd:data"/>
</message>

<message name="discoverRequirementsRequest">
 <part name="jobAd" element="condorSchedd:jobAd"/>
</message>

<portType name="condorScheddPortType">
 <operation name="beginTransaction">
  <documentation>Service definition of function condorSchedd__beginTransaction</documentation>
  <input message="tns:beginTransactionRequest"/>
  <output message="tns:TransactionAndStatus"/>
 </operation>
 <operation name="commitTransaction">
  <documentation>Service definition of function condorSchedd__commitTransaction</documentation>
  <input message="tns:commitTransactionRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="abortTransaction">
  <documentation>Service definition of function condorSchedd__abortTransaction</documentation>
  <input message="tns:abortTransactionRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="extendTransaction">
  <documentation>Service definition of function condorSchedd__extendTransaction</documentation>
  <input message="tns:extendTransactionRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="newCluster">
  <documentation>Service definition of function condorSchedd__newCluster</documentation>
  <input message="tns:newClusterRequest"/>
  <output message="tns:IntAndStatus"/>
 </operation>
 <operation name="removeCluster">
  <documentation>Service definition of function condorSchedd__removeCluster</documentation>
  <input message="tns:removeClusterRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="newJob">
  <documentation>Service definition of function condorSchedd__newJob</documentation>
  <input message="tns:newJobRequest"/>
  <output message="tns:IntAndStatus"/>
 </operation>
 <operation name="removeJob">
  <documentation>Service definition of function condorSchedd__removeJob</documentation>
  <input message="tns:removeJobRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="holdJob">
  <documentation>Service definition of function condorSchedd__holdJob</documentation>
  <input message="tns:holdJobRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="releaseJob">
  <documentation>Service definition of function condorSchedd__releaseJob</documentation>
  <input message="tns:releaseJobRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="submit">
  <documentation>Service definition of function condorSchedd__submit</documentation>
  <input message="tns:submitRequest"/>
  <output message="tns:RequirementsAndStatus"/>
 </operation>
 <operation name="getJobAds">
  <documentation>Service definition of function condorSchedd__getJobAds</documentation>
  <input message="tns:getJobAdsRequest"/>
  <output message="tns:ClassAdStructArrayAndStatus"/>
 </operation>
 <operation name="getJobAd">
  <documentation>Service definition of function condorSchedd__getJobAd</documentation>
  <input message="tns:getJobAdRequest"/>
  <output message="tns:ClassAdStructAndStatus"/>
 </operation>
 <operation name="sendFile">
  <documentation>Service definition of function condorSchedd__sendFile</documentation>
  <input message="tns:sendFileRequest"/>
  <output message="tns:Status"/>
 </operation>
 <operation name="discoverRequirements">
  <documentation>Service definition of function condorSchedd__discoverRequirements</documentation>
  <input message="tns:discoverRequirementsRequest"/>
  <output message="tns:RequirementsAndStatus"/>
 </operation>
</portType>

<binding name="condorSchedd" type="tns:condorScheddPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="beginTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="commitTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="abortTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="extendTransaction">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="newCluster">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="removeCluster">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="newJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="removeJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="holdJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="releaseJob">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="submit">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="getJobAds">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="getJobAd">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="sendFile">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
 <operation name="discoverRequirements">
  <SOAP:operation soapAction=""/>
  <input>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </input>
  <output>
   <SOAP:body use="literal" namespace="urn:condor-schedd"/>
  </output>
 </operation>
</binding>

<service name="condorSchedd">
 <documentation>gSOAP 2.5.1 generated service definition</documentation>
 <port name="condorSchedd" binding="tns:condorSchedd">
  <SOAP:address location="http://localhost"/>
 </port>
</service>

</definitions>
